.title {
    height: 50px;
    color:white;
}

.todo-item {
    display: block;
    font-size: 15px;
    position:relative;
    border-bottom: 1px solid gray;
    transition: 0.25s all;
}

.todo-done{
    color:gray;
}

.todo-item:hover {
    font-size: 16px;
}

.todo-category-active {
    font-weight: bolder;
    background-color: lightblue !important;
    color: black !important;
}

.bg-gray{
    background-color:gray;
}

.btn-delete{
    width:25px;
    height:25px;
    transition:0.25s all;
    padding:1px;
}

    .btn-delete:hover {
        transform:scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    }

    .btn:focus{
        outline:unset !important; 
    }

.todo-list {
    
    border-radius: 5px;
    background-color: #27374D;
    color: white;
}

.btn-item-delete{
    
    width:30px;
    height:30px;
    transition:0.25s all;
}

.btn-item-delete:hover{
    transform:scale(1.1);
}

.todo-clickable {
    width:70%; 
    height:100%; 
    padding:10px;
}

@media (max-width: 650px) {
    .todo-clickable{
        width:80%
    }
}