@inherits LayoutComponentBase





<TopBar/>
<Sidebar DefaultNavShow=false/>
<ConfirmationModal/>
<section style="height:100%; width:100%; padding-top:60px; background-color:#015F7A; overflow-y:scroll;">
    @Body
</section>





