@inject StorageService StorageService
@inject NavigationManager NavigationManager

<div class="sidebar-nav @sidebarClass">
    @if (navShow)
    {
        <button @onclick="NavClick" class="btn-nav"><i class="fa-solid fa-xmark text-white fa-2x"></i></button>
    }
    else
    {
            <button @onclick="NavClick" class="btn-nav"><i class="fa-solid fa-bars fa-2x"></i></button>
    }
    <h5 class="text-center p-3">Navigation</h5>
    <ul class="nav-menu">
        <NavLink href="/" class="navi-item" ActiveClass="navi-active" Match="NavLinkMatch.All"><i class="fa-solid fa-house"></i><span>Home</span></NavLink>
        <NavLink href="/app/todo" class="navi-item" ActiveClass="navi-active" Match="NavLinkMatch.All"><i class="fa-solid fa-list-check"></i><span>Todo App</span>
            
        </NavLink>

    </ul>
</div>

@if(navShow)
{
    <ShadowOverlay OnOverlayClicked="NavClick"/>
}

@code {
    const string sidebarClassActive = "sidebar-nav-show";
    bool navShow = true;

    string sidebarClass = "sidebar-nav-show";

    void NavClick()
    {
        navShow = !navShow;
        sidebarClass = string.IsNullOrWhiteSpace(sidebarClass) ? sidebarClassActive : "";
    }
}
