@inject TestService TestService
@attribute [Authorize]


@page "/"
<AuthorizeView>
    <Authorized>
        <button class="btn btn-outline-dark m-5" @onclick="TestAsync">Test</button>
    </Authorized>
</AuthorizeView>

@code{

    async Task TestAsync()
    {
        await TestService.TestAsync();
    }
}