@inject TestService TestService

@page "/"

<button class="btn btn-outline-dark m-5" @onclick="TestAsync">Test</button>

@code{

    async Task TestAsync()
    {
        await TestService.TestAsync();
    }
}