@page "/service-unavailable"

<div class="card border border-warning bg-light mb-3 absolute-center shadow-lg" style="max-width: 18rem;">
  <div class="card-body">
    <div><img src="/images/notauthorized.png" class="mx-auto d-block mb-3" width="80" /></div>
    <p class="card-text text-center mb-0">(503) Service Unavailable</p>
    <p class="card-text text-center">Check again later</p>
  </div>
</div>


@code {

}
  